# Import libraries

In [2]:
import pandas as pd
import numpy as np
import tsfresh as tf

# Load Data

In [14]:
data = pd.read_csv("./data/dataset.csv")

# Pré-processing

In [15]:
data["day_cycle_window_temp"] = data["day_cycle_window"].str.split("_")

In [17]:
data["day"] = data["day_cycle_window_temp"].apply(lambda x: int(x[0]))
data["cycle"] = data["day_cycle_window_temp"].apply(lambda x: int(x[1]))
data["window"] = data["day_cycle_window_temp"].apply(lambda x: int(x[2]))
data.drop(columns={"day_cycle_window_temp"}, inplace=True)

In [18]:
data

,day_cycle_window,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,day,cycle,window
0,1_1_1,-0.805191,-1.141993,-1.328327,-1.516693,-1.373962,-0.808270,-1.070547,-0.504352,2.807146,0.495528,-1.246737,1,1,1
1,1_1_1,-0.805191,-1.134902,-1.320393,-1.505848,-1.361560,-0.807840,-1.064212,-0.516000,2.894177,0.494467,-1.244472,1,1,1
2,1_1_1,-0.805191,-1.117304,-1.307167,-1.505848,-1.361560,-0.807840,-1.064212,-0.516000,2.981904,0.429370,-1.244472,1,1,1
3,1_1_1,-0.814231,-1.114206,-1.287593,-1.442302,-1.287565,-0.807840,-1.045557,-0.516000,3.063298,0.348056,-1.244472,1,1,1
4,1_1_1,-0.848104,-1.112276,-1.285393,-1.429076,-1.270722,-0.807840,-1.017575,-0.664906,3.049237,0.118828,-1.270237,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162697,4_4_160,0.147741,0.060913,0.185874,-0.163053,-0.284814,0.150407,0.029841,0.111318,-1.663704,0.614371,0.432218,4,4,160
162698,4_4_160,0.147741,0.060913,0.185874,-0.163053,-0.284814,0.177867,0.029841,0.113368,-1.663704,0.614371,0.432218,4,4,160
162699,4_4_160,0.147741,0.060913,0.185874,-0.163053,-0.284814,0.179901,0.029841,0.113368,-1.663704,0.614371,0.432218,4,4,160
162700,4_4_160,0.147741,0.060913,0.185874,-0.163053,-0.232045,0.179901,0.029841,0.113368,-1.663704,0.614371,0.432218,4,4,160
162701,4_4_160,0.196873,0.090617,0.292064,-0.132991,-0.219665,0.198205,0.058172,0.135439,-1.663704,0.614371,0.462288,4,4,160

In [19]:
windows_dict = {}
for window in data.day_cycle_window.unique():
    windows_dict[window] = data[data.day_cycle_window == window]

In [20]:
for window in windows_dict.keys():
    windows_dict[window].reset_index(drop=True, inplace=True)
    windows_dict[window].reset_index(inplace=True)

In [21]:
modified_data = pd.DataFrame()
for window in windows_dict.keys():
    modified_data = pd.concat([modified_data, windows_dict[window]])

In [22]:
modified_data.reset_index(drop=True, inplace=True)

# Tsfresh traitement

In [23]:
df = tf.extract_features(
    modified_data, column_id="day_cycle_window", column_sort="index"
)

Feature Extraction: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████| 10/10 [35:59<00:00, 215.91s/it]

# Stats decriptives

In [ ]:
data.groupby("cycle").count()

In [ ]:
data.groupby("day").count()

In [26]:
df.to_csv('../../data_anomaly/tsfreshfeatures.csv')